@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .scrollbar-default {
    @apply scrollbar-thin scrollbar-thumb-fg.subtle;
  }
  .shadow-panel {
    @apply shadow-[0px_13px_27px_-5px_#53515840,0px_4px_8px_0px_#0000004d];
  }
  .shadow-float {
    @apply shadow-[0px_2px_5px_-1px_#53515840,0px_4px_4px_0px_#0000004d];
  }
  .input-text {
    @apply px-[14px] w-full py-[8px] bg-bg.inset rounded-[4px] placeholder-fg.subtle outline-none focus:ring-inset focus:ring-1 ring-fg.default transition-all;
  }
  .edit-wizard-panel {
    @apply flex flex-col gap-[14px] h-full overflow-y-auto scrollbar-default flex-grow;
  }

  .dropdown-item {
    @apply px-[14px] py-[8px] bg-bg.inset hover:bg-bg.default text-fg.muted transition-all truncate;
  }

  .context-menu-item {
    @apply flex items-center w-full px-[4px] py-[2px] rounded-[4px] text-fg.default hover:bg-bg.default transition-all;
  }
  .context-menu-divider {
    @apply h-px bg-fg.subtle my-[4px];
  }
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  /* line-height: 24px; */
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
