@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .edit-wizard-panel {
    @apply flex flex-col gap-[14px] h-full overflow-y-auto scrollbar-default flex-grow;
  }

  .text-heading-default {
    @apply text-fg.0 font-semibold text-[16px];
  }

  .text-body-default {
    @apply text-fg.1 font-normal text-[14px];
  }

  .text-body-bold {
    @apply text-fg.1 font-semibold text-[14px];
  }

  .text-body-small-default {
    @apply text-fg.1 font-normal text-xs;
  }

  .text-body-small-bold {
    @apply text-fg.1 font-semibold text-[12px];
  }

  .input-text {
    @apply px-[4px] w-full py-[2px] bg-bg.2 rounded-default placeholder-fg.2 outline-none focus:ring-inset focus:ring-1 ring-fg.0;
  }

  .rounded-default {
    @apply rounded-[3px];
  }

  .scrollbar-default {
    @apply scrollbar-thin scrollbar-thumb-fg.2;
  }

  .float-shadow {
    box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
  }
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  /* line-height: 24px; */
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow: hidden;
  overscroll-behavior: none;
}
